# Python
__pycache__/
.DS_Store

# Fetched Data
data/

# Checkpoints
checkpoints/

# Ruff
.ruff_cache/

# Env files
.env

# Venv
venv/
env/
.env/
.venv/

# Pdf files
*.pdf

# Google Credentials
credentials/

# Pytest
.pytest_cache/
